@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#home-secendPart{
  background-image: url(/images/bg_home_secend.png);
  height:100% ;
  width: 1400px;
  background-size: cover; /* Ensures the image covers the div */
  background-position: center; 
}

#footer-part{
  background-image: url(/images/footer.png);
  height:566px ;
  width: 1400px;
  background-size: cover; /* Ensures the image covers the div */
  background-position: center
}
#header-style{
  background-image: url(/images/header_bg.png);
  height:70px ;
  width: 1400px;
  background-size: cover; /* Ensures the image covers the div */
  background-position: center
}

#login-style{
  background-image: url(/images/bg-login.png);
  height:100vh ;
  width: 1400px;
  background-size: cover; /* Ensures the image covers the div */
  background-position: center
}
#login-icon-style{
  display: "flex";
  justify-content: "center";
  align-items: "center",
}

#testimonial-style{
  height: 359px;
  width: 383px;
}

#new-campaign-style{
  height: 226px;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next { /* Change the arrow background color */
  border-radius: 50%; /* Make arrows circular */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


/* Change the color of the arrow itself */
.ant-carousel .slick-prev::before,
.ant-carousel .slick-next::after {
  color: black;
}

/* Styling the selected slide */
/* .ant-carousel .slick-slide.slick-active {
  background-color: #f5f5f5; 
  border: 2px solid #E3955B; 
} */

.ant-carousel .slick-next.slick-active {
  background-color: #f5f5f5; 
  /* border: 2px solid #E3955B;  */
}